.build-attribution {
    align-self: flex-end;
}

.tooltip {
    z-index: 1;
}

.is-champion {
    margin: 0.3em;
    background-color: rgba(0,0,0,0.2);
    padding: 0;
    text-align: center;

    &:hover {
        background-color: rgba(0,0,0,0.5);

        .champion-name {
            color: $grey-lighter
        }
    }
    
    .champion-name {
        margin-top: -5px;
        background-color: rgba(0,0,0,0.5);
    }

    img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
